@import url('global.css');

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

#mensagem {
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  font-size: 20px;
  font-family: 'Hind Siliguri';
}