@import url('global.css');


.container {
  width: 100vw;
  height: 100vh;
  background-color: #101D24;
}

.chatContainer {
  display: flex;
  width: 100%;
}

.contatosList {
  flex: 1;
  background-color: #101D24;
  width: 30%;
  border-right: 1px solid #05041360;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  bottom: 0;
}

.contatosList header{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 106px;
  width: 100%; 
  background-color: #3c3057;
}

.contatosList header .info {
  display: flex;
  justify-content: space-between;
  background-color: #191622;
  width: 100%;
  overflow: hidden;
  height: 60px;
}

.contatosList header .search {
  display: flex;
  justify-content: center;
  background-color: #191622;
  align-items: center;
  padding: 10px;
}

.contatosList header .search img{
  width: 14px;
  height: 14px;
  margin: 0px 3px;
}

.contatosList header #pesquisaInput{
  width: 96%;
  height: 25px;
  border: none;
  padding: 0px 10px;
  border-radius: 30px;
  font-size: 14px;
  outline: 0;
  font-family: 'Hind Siliguri';
}

#info img {
  width: 40px;
  height: 40px;
  margin: 15px 10px;
  border-radius: 30px;
}

.contatosList .contato {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: none;
  height: 70px;
  overflow: hidden;
  padding: 15px;
  outline: 0;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}

.contatosList .contato .nomeAndLastMsg{
  display: flex;
  padding: 5px;
  margin-left: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.contatosList .contato span{
  color: #ffffff;
  margin-top: 10px;
}

.contatosList .contato .separator{
  height: 1px;
  width: 100%;
  background-color: #42225F;
}
.contatosList .contato .nomeAndLastMsg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contatosList .contato .nomeAndLastMsg div h2, h4{
  height: 100%;
  display: block;
  word-wrap: break-word;
  text-align: left;
  color: #ffffff;
}

.contatosList .contato .nomeAndLastMsg h4{
  font: 400 12px Hind Siliguri;
}
.contatosList .contato .nomeAndLastMsg h2 {
  font: 500 20px Hind Siliguri;
}

.contatosList .contato img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.contatosList .contato:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.contatosList .contato:active, .contato:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.conversa {
  transition: all 1s ease-in-out;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.conversa .chatConversa {
  width: 100%;
  background-color: #101D24;
  display: flex;
  flex-direction: column;
}

.conversa #mensagemInput {
  width: 70%;
  height: 60px;
  outline: 0;
  border: none;
  position: fixed;
  bottom: 0;
  border-top: 0.5px solid #5B5C5D;
  right: 0;
  color: #9fb199;
  padding: 0px 10px;
  background-color: #101D24;
  font-size: 20px;
  font-family: 'Hind Siliguri';
}

.remove {
  display: none !important;
}

.me {
  align-items: flex-end;
}

.me .texto{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 0px !important
}

.conversa .chatConversa .msg {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  color: #9fb199;
}

.conversa .chatConversa .msg .texto {
  background-color: #0b0c1a;
  padding: 10px;
  max-width: 300px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.conversa .chatConversa .msg:last-child {
  margin-bottom: 82px;
}