* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', 'Arial';
  overflow-x: hidden;
}

.aviso {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  top: 0;
  padding: 5px;
  background-color: #ffffff;
}
.aviso h4 {
  color: rgba(42, 131, 123, 0.733);
}

/* Css da página */

.container {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#foto {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}


header {
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(4, 4, 46) 67%, rgb(24, 8, 82) 100%);
  width: 100%;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
}

header h1, li{
  color: #ffffff;
  font-weight: 700;
  margin-left: 20px;
  align-self: center;
  transition: all 0.2s ease-in-out;
}
header nav {
  height: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}

header nav ul li a {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

header nav ul li a:hover{
  color: gold;
}

.container-main{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(4, 4, 46) 67%, rgb(24, 8, 82) 100%);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; 
}

.container-main h1 a{
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.contatos {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contato {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: transparent;
  margin: 0px 30px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.contato:last-child {
  margin-bottom: 40px;
}
.contato:hover{
  border: solid 1px #230e53;
  background-color: rgba(255, 255, 255, 0.05);
}

.contato h2{
  color: #ffffff;
  margin: 0px 20px;
}

.contato img {
  border-radius: 40px;
  width: 80px;
  height: 80px;
}
